<div ng-show="showMe">
<div class="nav">
  <div class="panel-body1">
      <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#drink" role="tab" data-toggle="tab">Drinks</a></li>
          <li role="presentation"><a href="#food" role="tab" data-toggle="tab">Food</a></li>

      </ul>
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="drink">
              <button class="btn btn-primary btn-pos btn-marginTop" data-ng-repeat="item in drinks" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button>
          </div>
          <div role="tabpanel" class="tab-pane" id="food">
              <button class="btn btn-warning btn-pos btn-marginTop" data-ng-repeat="item in foods" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button>
          </div>
      </div>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <button id ="1" ng-click="myFunc()">Table1</button>
      <button id ="2" ng-click="myFunc()">Table2</button>
        <button id ="3" ng-click="myFunc()">Table3</button>
        <button id ="4" ng-click="myFunc()">Table4</button>
        <button id ="5" ng-click="myFunc()">Table5</button>
        <button id ="6" ng-click="myFunc()">Table6</button>

     </div>
     <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
       <div class="panel panel-primary">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-md-4"><span class="panel-title">Order Summary</span></div>
                   <div class="col-md-4"><span>Today is: {{getDate()}}</span></div>
               </div>
           </div>
           <div class="panel-body" style="max-height:320px; overflow:auto;">
               <div class="text-warning" ng-hide="order.length">
                   Nothing ordered yet!
               </div>
               <ul class="list-group">
                   <li class="list-group-item" ng-repeat="item in order">
                       <div class="row">
                           <div class="col-md-1">
                               <span class="badge badge-left" ng-bind="item.qty"></span>
                           </div>
                           <div class="col-md-4">
                               {{item.name}}
                           </div>
                           <div class="col-md-1">
                               <div class="label label-success">{{item.price * item.qty | currency:"USD$":0}}</div>
                           </div>
                           <div class="col-md-1 col-md-push-1">
                               <div class="label label-warning">{{item.price | currency:"USD$":0}}</div>
                           </div>
                           <div class="col-md-2 col-md-push-2">
                               <button class="btn btn-success btn-xs" ng-click="addToOrder(item,1)">
                                   <span class="glyphicon glyphicon-plus"></span>
                               </button>
                               <button class="btn btn-warning btn-xs" ng-click="removeOneEntity(item)">
                                   <span class="glyphicon glyphicon-minus"></span>
                               </button>
                           </div>
                           <div class="col-md-1 col-md-push-2">
                               <button class="btn btn-danger btn-xs" ng-click="removeItem(item)">
                                   <span class="glyphicon glyphicon-trash"></span>
                               </button>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>
           <div class="panel-footer" ng-show="order.length">
               <h3><span class="label label-primary">Total: {{getTotal() | currency:"USD $ ":0}}</span></h3>
           </div>
           <div class="panel-footer" ng-show="order.length">
               <div>
                   <span class="btn btn-default btn-marginTop" ng-click="clearOrder()" ng-disabled="!order.length">Clear</span>
                   <span class="btn btn-danger btn-marginTop" ng-click="checkout()" ng-disabled="!order.length">Checkout</span>
               </div>
           </div>
       </div>
</div>
   </div>
 </div>

<ng-include src="'app/templates/footer.html'"></ng-include>
