
  <ng-include src="'app/templates/header.html'"></ng-include>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">

      <button id ="1" ng-click="myFunc()">Table1</button>
      <button id ="2" ng-click="myFunc()">Table2</button>
        <button id ="3" ng-click="myFunc()">Table3</button>
        <button id ="4" ng-click="myFunc()">Table4</button>
        <button id ="5" ng-click="myFunc()">Table5</button>
        <button id ="6" ng-click="myFunc()">Table6</button>
     </div>
   </div>
 </div>
